.taggedFilter {
    min-height: 65px;
    width: auto;
}

.taggedFilter .filterComponent {
    float: left;
    margin-right: 5px;
    margin-bottom: 16px;
    width: auto;
}

.taggedFilter .filterComponent .ant-select,
.taggedFilter .filterComponent .ant-input-group-wrapper{
    min-width: 150px
}

.taggedFilter .taggedFilterButtons button {
    margin-bottom: 16px;
}

.taggedFilter .filterComponentDateRange {
    width: 300px;
    max-width: 300px;
}

.taggedFilter .filterComponentDateRange .ant-calendar-picker {
    width: 280px;
}

.taggedFilter .filterComponentRange {
    /*width: 224px;*/
}

.taggedFilter .filterComponent .anticon-close {
    cursor: pointer;
}