.editable-table-input-wrapper,
.editable-table-text-wrapper {
    padding-right: 24px;
}

.editable-table-text-wrapper {
    padding: 5px 24px 5px 5px;
}

.editable-table-icon,
.editable-table-icon-check {
    position: relative;
    right: 0;
    width: 20px;
    cursor: pointer;
}

.editable-table-icon {
    line-height: 18px;
}

.editable-table-icon-check {
    line-height: 28px;
}

.editable-table:hover .editable-table-icon {
    display: inline-block;
}

.editable-table-icon:hover,
.editable-table-icon-check:hover {
    color: #108ee9;
}

.editable-add-btn {
    margin-bottom: 8px;
}