.ant-modal {
    animation-duration: 0s !important;
}
.App .logo {
    height: 32px;
    margin: 8px 20px;
}
.App .logo img{
    vertical-align: initial;
}

.App .ant-breadcrumb{
    line-height: 50px;
}

.App .ant-layout-footer {
    padding: 0px;
    height: 20px;
}

.ant-checkbox-group-item{
    display: block;
}

.ant-layout-header .topHeaderButtons {
    padding: 5px;
    padding-right: 15px;
}

.ant-layout-header .topHeaderButtons > button {
    margin-top: 12px;

}

.ant-layout-header .topHeaderButtons > .ant-input-search {
    margin-top: 12px;
    margin-right: 50px;
}

.ant-layout-header .topHeaderButtons > * {
    float: right;
    line-height: 18px;
    margin-top: 16px;
    margin-right: 5px;
}

.App .ant-menu-inline-collapsed > li.ant-menu-item > a > span {
    display: none;
}

.App .ant-layout-sider-trigger {
    background-color: #fff;
    color: rgb(102, 101, 101);
    border-top: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}

/* use css to set position of modal */
.vertical-center-modal {
    text-align: center;
    white-space: nowrap;
}

.vertical-center-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}

.vertical-center-modal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
}

.react-contextmenu {
    border: 1px solid silver;
    background-color: white;
    z-index: 999;
    padding: 5px 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 2px 2px 6px 0px;
}

.react-contextmenu .react-contextmenu-item {
    cursor: pointer;
    padding: 8px ;

}

.react-contextmenu .react-contextmenu-item--selected {
    cursor: pointer;
    color: #719b8b;
    background-color: #efefef;
}

.react-contextmenu .react-contextmenu-item--disabled {
    cursor: auto;
    color: #d7dbe2;

}


.ant-table-small .ant-table-thead > tr > th{
    background: #f7f7f7;
}



.ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content{
    overflow: hidden;
}
.ant-layout-content{
    overflow: auto;
}


.ant-list-item-action button{
    margin-left: 5px;
}

.ant-list-item:not(.noHover):hover{
    background-color: rgba(129, 163, 182, 0.31);
}
.ant-list-item{
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.ant-table-thead > tr.ant-table-row-hover > td, .ant-table-tbody > tr.ant-table-row-hover > td, .ant-table-thead > tr:hover > td, .ant-table-tbody > tr:hover > td{
    background-color: rgba(129, 163, 182, 0.31);
}
.ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-tbody > tr > td, .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td{
    padding: 2px 6px;
}
.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th{
    padding: 4px 6px;
}
.overflow-span{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.ant-form-item{
    margin-bottom:12px;
}
.ant-form-vertical .ant-form-item-label, .ant-col-24.ant-form-item-label, .ant-col-xl-24.ant-form-item-label{
    padding: 0;
}

.table-action-column{
    text-align: center;
}

.ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th {
    background: #fafafa;
}
.ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th{
    background: #f7f7f7;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    word-break: keep-all;
    padding: 4px !important;
}
th.sortable{
    cursor: pointer;
}

th.sortable.ascend{
    border-bottom: 2px solid red !important;
}
th.sortable.descend{
    border-top: 2px solid red !important;
}

.ant-input-group.radius-all > .ant-input:last-child{
    border-radius: 4px;
}


.ant-table-small > .ant-table-content > .ant-table-header > table, .ant-table-small > .ant-table-content > .ant-table-body > table, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table{
    padding: 0;
}


.widgetConfig .ant-table {
    border: 0px;
}

.ant-list-item-meta-description > .aboutList{
    font-size: 12px;

}
